html{
    background-color: gray;
}
.box1{
    width: 300px;
    height: 100px;
    background-color: white;
    border: 5px solid red;
    border-radius: 10px;
    color: rgb(128, 0, 75);
    box-shadow: 8px 8px 1px darkmagenta;
    position: absolute;
    left: 500px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(128, 0, 75);
}
hr{
    position: relative;
    top: 111px;
}
.container{
    border: 5px solid green;
    position: relative;
    top: 110px;
    height: 500px;
}
.item1{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 1px darkmagenta;
    color: indigo;
    font-weight: bold;
    text-shadow: 1px 1px indigo ;
    text-align: center
}
.item2{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 10px; 
    box-shadow: 5px 5px 1px darkmagenta;
    position: absolute;
    right: 5px;
    top: 2px;
}
img{
    width: 110px;
    height: 110px;
    padding: 15px;
  
}
.item3{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 10px; 
    box-shadow: 5px 5px 1px darkmagenta;
    color: indigo;
    text-shadow: 1px 1px indigo ;
    position: absolute;
    bottom: 3px;
    font-weight: bold;
}
.item4{
    background-color: white;
    width: 180px;
    height: 180px;
    border: 5px solid red;
    border-radius: 10px; 
    box-shadow: 5px 5px 1px darkmagenta;
    color: indigo;
    text-shadow: 1px 1px indigo ;
    text-align: center;
    position: absolute;
    right: 2px;
    bottom: 3px;
}

.grid-container{
    background-color: green;
    display: grid;
    position: absolute;
    top: 530px;
    grid-template-columns: auto auto;
    width: 900px;
    height: 300px;
    border: 5px solid purple;
    left: 200px;
    
}
.grid{
    text-align: center;
    background-color: darkkhaki;
    padding: 10px;
    margin: 5px;
}

.grid1{
    grid-column-start: 1 ;
    grid-column-end: 3;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;

}
.grid2{
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.grid3{
    grid-column-start: 2;
    grid-column-end: 3;
  
}
.grid4{
    grid-column-start: 1 ;
    grid-column-end: 3;
 
}
.line1{
    position: relative;
    top: 3px;
    
}
.line2{
    position: relative;
    top: 3px;
}
.line3{
    position: relative;
    top: 2px;
}
.fixed{
    width: 400px;
    height: 50px;
    color: red;
    font-style: italic;
    border: 5px solid red;
    box-shadow: 5px 5px 1px darkmagenta;
    background-color: chartreuse;
    font-weight: bold;
    border-radius: 10px;
    position: fixed;
    left: 500px;
   padding: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}